@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
.aaa{
    background-color: aqua;
}
.todo{
    display: flex;
}
.img{
    background-image: url(../assets/descarga.png);
    background-size: auto;
    background-repeat:no-repeat;
    height: 100vh;
    width: 60%;
}

@media (max-width: 768px) {
    .todo {
      
      flex-direction: column;
    }
    .img{
        background-image: url(../assets/desacarga2.png);
        background-size: cover;
        height: 40vh;
        width: 100%;
    }
  }