.contLogin{
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartForm{
    width: 290px;
    height: 400px;
    background-color: white;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    box-shadow: 10px 10px 0px 3px rgba(0,0,0,1);
}
.headerForm{
    width: 100%;
    height: 10%;
    border-top-left-radius: 15px ;
    border-bottom: 2px solid black;
}
.formcont{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}
.imglogin3{
    
    background-image: url(../assets/loginimg2.png);
    background-size: cover;
    width: 600px;
    height: 400px;
}
@media (max-width: 768px){
    .imglogin3{
        background-image: url(../assets/loginimg.png);
        background-size: cover;
        width: 40%;
        height: 400px;
    }
}
@media (max-width: 425px){
    .imglogin3{
        display: none;
    }
}