@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

.createbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: auto;
    padding: 0px 5px;
    height: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    color: black;
    border-radius: 5px;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: 700;
    box-shadow: 10px 10px 0px 3px rgba(0,0,0,1);
}
.createbtn:hover{
    background-color: rgb(95, 92, 92);
    color: white;
}